* {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

body {
  background-color: #000000;
  font-family: sans-serif;
}

rect, text {
  cursor: pointer;
}

.wood-background {
  left: 0px;
  position: absolute;
  z-index: -1;
}

.title-background {
  padding-bottom: 60px;
  z-index: 1;
}

.square {
  background-color: #000;
  border: none;
  color: #ffffff;
  font-size: 120px;
  padding-top: 25px;
  text-align: center;
}

.square.top {
  border-bottom-style: solid;
  border-width: 5px;
}

.square.right {
  border-left-style: solid;
  border-width: 5px;
}

.square.left {
  border-right-style: solid;
  border-width: 5px;
}

.square.bottom {
  border-top-style: solid;
  border-width: 5px;
}

.board {
  border-collapse: collapse;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  justify-content: center;
}

.status {
  color: white;
  font-size: 50px;
  margin-bottom: 4%;
  margin-top: 4%;
}

.audio-player-container {
  height: 50px;
  position: fixed;
  right: 25px;
  top: 20px;
  width: 50px;
}

.scoreboard {
  display: flex;
  justify-content: center;
}

.scoreboard-player-name, .scoreboard-player-score {
  color: #ffffff;
  padding: 5px;
}

.scoreboard-player-name {
  display: flex;
}

.scorboard-player.symbol {
  padding-left: 25px;
}

.scoreboard-player-container {
  margin: 40px;
}

.game {
  padding-top: 5%;
}